* {
    margin: 0;
    padding: 0 
}
html{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 247, 234);
}
.hero-container{
    width: 100%;
    margin-bottom: 0px;
}

.hero-text {
    position: absolute;
    bottom: 70%;
    right: 60%;
}

.hero-text h1 {
    font-size: 80px;
    color: rgb(51, 109, 255);
}

.hero-text h1 span {
    color: rgb(233, 233, 233);
}

.hero-text h3 {
    text-align: end;
}

.hero-image{
    width: 100%;
}

.featured-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}

.featured-titel {
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.featured-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.featured-image{
    height: 400px;
}

.categories-container {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(255, 247, 249);
    border-top: 1px solid rgba(51, 109, 255, 0.3);
    border-bottom: 1px solid rgba(51, 109, 255, 0.3);
    line-height: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.categories-container a {
    border-radius: 0px;
    padding-left: 15px;
    padding-right: 15px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    transition: 0.5s all;
}

.categories-container a:hover{
    background-color: rgba(149, 179, 255, 0.118);
    cursor: pointer;
    text-decoration-color: rgba(51, 109, 255, 1);
    transition: all 1s;
}



.all-products-container {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

.paper{
    background-color: rgba(237, 237, 237, 0.701);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.items-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-image{
    border-radius: 20px;
    max-height: 400px;
    max-width: 400px;
}

.item-name {
    max-width: 400px;
    text-align: center;
}