* {
    margin: 0;
    padding: 0 
}
html{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 247, 234);
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

header {
    /* background:#e79e85 ; */
    background: #d57149;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.navbar-container {
    width: 100%;
    margin: 0 auto;
}

nav {
    width: 100%;
    /*float: right;*/
    position: fixed;
    text-align: center;
    overflow: auto;
    z-index: 3;
}

nav ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    /* display: flex; */
    /* margin-left: 70px; */
    padding-top: 20px;
    padding-bottom: 20px;

    position: relative;
}

nav a {
    text-decoration: none;
    color: #e4e3e3;
    text-shadow: 1px 1px 2px black;
    
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color:#85603f;
}

.search_bar { 
    border: 3px solid saddlebrown;
    padding: 5px;
    height: 13px;
    border-radius: 5px;
    outline: none;
}

.hero-container{
    width: 100%;
    margin-bottom: 0px;
}

.hero-image{
    width: 100%;
}

.hero-text {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 5vw;
    left: 10vw;
    width: 30%;
}

.hero-text h1 {
    font-size: 5vw;
    color: #eaac7f;
}

.hero-text h1 span {
    color: #dfd3c3;
}

.hero-text h3 {
    text-align: end;
    font-size: 1vw;
}

.featured-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}

.featured-titel {
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.featured-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.featured-image{
    weight: 100%;
}

.categories-container {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(255, 247, 249);
    border-top: 1px solid rgba(51, 109, 255, 0.3);
    border-bottom: 1px solid rgba(51, 109, 255, 0.3);
    line-height: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.categories-container a {
    border-radius: 0px;
    padding-left: 15px;
    padding-right: 15px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    transition: 0.5s all;
}

.categories-container a:hover{
    background-color: rgba(149, 179, 255, 0.118);
    cursor: pointer;
    text-decoration-color: rgba(51, 109, 255, 1);
    transition: all 1s;
}



.all-products-container {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
}

.paper{
    background-color: rgba(237, 237, 237, 0.701);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.items-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-image{
    border-radius: 20px;
    max-height: 400px;
    max-width: 400px;
}

.item-name {
    max-width: 400px;
    text-align: center;
}

.items-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

.product {
    position: relative;
    width: 480px; 
    height: 600px;
    display: inline-block;
    border-radius: 8px;
    overflow: hidden;
    margin: 15px;
    border: 2px solid #fff;
}

img{
    width: 100%;
    transition: all linear 0.7s;
}

img.hover-img{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.product:hover img{
    opacity: 0;

}

.product:hover img.hover-img{
    opacity: 1;
}

