.items-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

.product {
    position: relative;
    width: 480px; 
    height: 600px;
    display: inline-block;
    border-radius: 8px;
    overflow: hidden;
    margin: 15px;
    border: 2px solid #fff;
}

img{
    width: 100%;
    transition: all linear 0.7s;
}

img.hover-img{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.product:hover img{
    opacity: 0;

}

.product:hover img.hover-img{
    opacity: 1;
}
